### SQL AND SQL LITE PRACTICE

In [1]:
import sqlite3

In [3]:
connection=sqlite3.connect('example.db')
connection

In [9]:
cursor = connection.cursor()

In [12]:
#table
cursor.execute('''
Create Table if not Exists employees(
        id Integer Primary key,
        name Text Not Null,
        age Integer,
        department text
        )
''')

connection.commit

In [13]:
cursor.execute('''
               Select * from employees 
               
               ''')

In [16]:
## Insert the data in sqlite table
cursor.execute('''
Insert Into employees(name,age,department)
               values('Krish',32,'Data Scientist')

''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Bob', 25, 'Engineering')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Charlie', 35, 'Finance')
''')

## commi the changes
connection.commit()

NameError: name 'rows' is not defined